body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #1f1d32, #030328);
}

h1 {
    color: #ffff;
}

footer{
    background-color: #030328;
}
.footerContainer{
    width: 100%;
    padding: 20px 0px 0px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 1.3em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 10px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #030328;
    padding: 10px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(circle, #1f1d32, #030328);
    padding: 20px;
    color: #fff;
}

.logo h1 {
    margin: 0;
}

.logo h1 a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav ul li {
    position: relative;
    margin: 0 15px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav ul li a:hover {
    text-decoration: underline;
}

.profile-section {
    position: relative;
    margin-right: 40px;
}

.profile-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.hover-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-section:hover .hover-content,
.hover-section:hover .hover-content {
    display: block;
}

.hover-content p {
    margin: 0;
    padding: 5px 0;
    color: #fff;
    cursor: pointer;
}

.hover-content p a {
    color: #fff;
    text-decoration: none;
}

.hover-content p:hover {
    background-color: #444;
}

main {
    padding: 2rem;
}

.dashboard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.dashboard-item {
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

canvas {
    width: 100%;
    height: 300px;
}
