body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1d32;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1d32;
    padding: 20px;
    color: #fff;
}

.logo h1 {
    margin: 0;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav ul li {
    position: relative;
    margin: 0 15px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav ul li a:hover {
    text-decoration: underline;
}

.profile-section {
    position: relative;
    margin-right: 40px;
}

.profile-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.hover-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-section:hover .hover-content,
.hover-section:hover .hover-content {
    display: block;
}

.hover-content p {
    margin: 0;
    padding: 5px 0;
    color: #fff;
    cursor: pointer;
}

.hover-content p:hover {
    background-color: #444;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #E0E1DD;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#searchBar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.doctor-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.doctor-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.doctor-info {
    flex: 1;
}

.doctor-info h2 {
    margin: 0;
    font-size: 1.5em;
}

.doctor-info p {
    margin: 5px 0;
}

.doctor-info a {
    color: #007bff;
    text-decoration: none;
}

.doctor-info a:hover {
    text-decoration: underline;
}
