body {
    font-family: Arial, sans-serif;
    background-color: #1f1d32;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1d32;
    padding: 20px;
    color: #fff;
}

.logo h1 {
    margin: 0;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav ul li {
    position: relative;
    margin: 0 15px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav ul li a:hover {
    text-decoration: underline;
}

.profile-section {
    position: relative;
    margin-right: 40px;
}

.profile-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.hover-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-section:hover .hover-content,
.hover-section:hover .hover-content {
    display: block;
}

.hover-content p {
    margin: 0;
    padding: 5px 0;
    color: #fff;
    cursor: pointer;
}

.hover-content p:hover {
    background-color: #444;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #E0E1DD;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#profile-info p {
    font-size: 18px;
    margin: 10px 0;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
