/* General Styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1f1d32, #030328);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #E0E1DD;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(circle, #1f1d32, #030328);
    padding: 20px;
    color: #fff;
}

.logo h1 {
    margin: 0;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav ul li {
    position: relative;
    margin: 0 15px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav ul li a:hover {
    text-decoration: underline;
}

.profile-section {
    position: relative;
    margin-right: 40px;
}

.profile-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.hover-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-section:hover .hover-content,
.hover-section:hover .hover-content {
    display: block;
}

.hover-content p {
    margin: 0;
    padding: 5px 0;
    color: #fff;
    cursor: pointer;
}

.hover-content p:hover {
    background-color: #444;
}

/* Sleep Tracker Styles */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

.sleep-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.sleep-input label {
    font-weight: bold;
}

.sleep-input input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sleep-input button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.sleep-input button:hover {
    background-color: #218838;
}

.graph-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.graph-options button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.graph-options button:hover {
    background-color: #218838;
}

canvas {
    display: block;
    margin: 0 auto;
}
footer{
    background-color: #030328;
}
.footerContainer{
    width: 100%;
    padding: 20px 0px 0px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 1.3em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 10px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #030328;
    padding: 10px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}